<div id = "bgd">
</div>

<div id = "container">

	<div id="heading">
		<div id = "h1">The Royal & Ancient Coding Club of Cuba Street presents...</div>
		<div id = "title">IMAGE GOLF</div>
		<div id = "h3">Like real golf! But without the suffering.</div>
	</div>
{{#if this.finished}}
		<div id="result"> {{this.result}}</div>
{{else}}
	<div id = "main">
		<div id="score">
	  	<h2> Your score is: {{this.score}} </h2>
		</div>
		<div id="mainImage">
			<img src = "{{this.mainImage}}">
		</div>
		<div id="pastScores">
			<!-- past scores in here -->
		</div>
	</div>
{{/if}}



	<form class = "next_guess" id="next_guess" action="/home" accept-charset="UTF-8" method="post">
	  <p class = "next_guess">
	    <input placeholder="Enter your guess" type="text" name="guess" id="guess_box" value="{{this.name}}"/><br><br>
	    <input type="submit" name="submit" value="Go" id="go"/>
	  </p>
	</form>


	<div id = "previous">
		{{#each images}}
		 	<div id = "prevImages">
		    <img src = "{{this}}">
		  </div>
		{{/each}}
	</div>

</div>

